    <!-- header top start -->
    <div class="header-top-area bg-gray text-center text-md-left">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-5">
                  <div class="header-call-action">
                      <a href="#">
                          <i class="fa fa-envelope"></i>
                          info@medheightspharmacy.com
                      </a>
                      <a href="#" [hidden]="" class='font-bold'>
                          <i class="fa fa-phone"></i>
                          welcome {{username}}
                      </a>
                  </div>
              </div>
              <div class="col-lg-6 col-md-7">
                  <div class="header-top-right float-md-right float-none">
                      <nav>
                          <ul>
                              <li>
                                <a routerLink="/admin">Admin</a>
                              </li>
                              <li>
                                <a [routerLink]="['/account']" [hidden]="!userIsLoggedIn">My Account</a>
                              </li>
                              <li>
                                  <a routerLink="/login" [hidden]="userIsLoggedIn">Login</a>
                              </li>
                              <li [hidden]="!userIsLoggedIn">
                                <span (click)="logout()" style="cursor: pointer;">logout</span>
                              </li>
                              <li>
                                  <a routerLink="/login" [hidden]="userIsLoggedIn">Register</a>
                              </li>
                              <li>
                                  <a routerLink="/cart/0">my cart</a>
                              </li>
                              <li [hidden]="!userIsLoggedIn">
                                  <a routerLink='/checkout' >checkout</a>
                              </li>

                          </ul>
                      </nav>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- header top end -->
