  <!-- header area start -->
  <header>


    <!-- header top start -->
    <div class="header-top-area bg-gray text-center text-md-left">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5">
                    <div class="header-call-action">
                        <a href="#">
                            <i class="fa fa-envelope"></i>
                            info@medheightspharmacy.com
                        </a>
                        <a href="#">
                            <i class="fa fa-phone"></i>
                            0123456789
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="header-top-right float-md-right float-none">
                        <nav>
                            <ul>
                                <li>
                                  <a href="#">My Account</a>
                                </li>
                                <li>
                                    <a href="#">Login</a>
                                </li>
                                <li>
                                    <a href="#">Register</a>
                                </li>
                                <li>
                                    <a href="#">my cart</a>
                                </li>
                                <li>
                                    <a href="#">checkout</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header top end -->

    <!-- header middle start -->
    <div class="header-middle-area pt-20 pb-20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="brand-logo">
                        <a href="index.html">
                            <img src="assets/img/logo/logo.png" alt="brand logo">
                        </a>
                    </div>
                </div> <!-- end logo area -->
                <div class="col-lg-9">
                    <div class="header-middle-right">
                        <div class="header-middle-shipping mb-20">
                            <div class="single-block-shipping">
                                <div class="shipping-icon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <div class="shipping-content">
                                    <h5>Working time</h5>
                                    <span>Mon- Sun: 7am - 12:00pm</span>
                                </div>
                            </div> <!-- end single shipping -->
                            <div class="single-block-shipping">
                                <div class="shipping-icon">
                                    <i class="fa fa-truck"></i>
                                </div>
                                <div class="shipping-content">
                                    <h5>free shipping</h5>
                                    <span>On order over ₦199</span>
                                </div>
                            </div> <!-- end single shipping -->
                            <div class="single-block-shipping">
                                <div class="shipping-icon">
                                    <i class="fa fa-money"></i>
                                </div>
                                <div class="shipping-content">
                                    <h5>money back 100%</h5>
                                    <span>Within 30 Days after delivery</span>
                                </div>
                            </div> <!-- end single shipping -->
                        </div>
                        <div class="header-middle-block">
                            <div class="header-middle-searchbox">
                                <input type="text" placeholder="Search...">
                                <button class="search-btn"><i class="fa fa-search"></i></button>
                            </div>
                            <div class="header-mini-cart">
                                <div class="mini-cart-btn">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="cart-notification">2</span>
                                </div>
                                <div class="cart-total-price">
                                    <span>total</span>
                                    ₦50.00
                                </div>
                                <ul class="cart-list">
                                    <li>
                                        <div class="cart-img">
                                            <a href="product-details.html"><img src="assets/img/cart/cart-1.jpg"
                                                    alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <h4><a href="product-details.html">simple product 09</a></h4>
                                            <span>₦60.00</span>
                                        </div>
                                        <div class="del-icon">
                                            <i class="fa fa-times"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cart-img">
                                            <a href="product-details.html"><img src="assets/img/cart/cart-2.jpg"
                                                    alt=""></a>
                                        </div>
                                        <div class="cart-info">
                                            <h4><a href="product-details.html">virtual product 10</a></h4>
                                            <span>₦50.00</span>
                                        </div>
                                        <div class="del-icon">
                                            <i class="fa fa-times"></i>
                                        </div>
                                    </li>
                                    <li class="mini-cart-price">
                                        <span class="subtotal">subtotal : </span>
                                        <span class="subtotal-price">₦88.66</span>
                                    </li>
                                    <li class="checkout-btn">
                                        <a href="#">checkout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header middle end -->

    <!-- main menu area start -->
    <div class="main-header-wrapper bdr-bottom1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-header-inner">
                        <div class="category-toggle-wrap">
                            <div class="category-toggle">
                                category
                                <div class="cat-icon">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                            <nav class="category-menu hm-1" style="display: none;">
                                <ul>
                                    <li><a href="shop-grid-left-sidebar.html"><i class="fa fa-home"></i>
                                            All Products</a></li>
                                    <li class="menu-item-has-children"><a href="shop-grid-left-sidebar.html"><i
                                                class="fa fa-user-md"></i>50 Plus Health</a>
                                        <!-- Mega Category Menu Start -->
                                        <ul class="category-mega-menu">
                                            <li class="menu-item-has-children">
                                                <a href="shop-grid-left-sidebar.html">MAIN DEMO</a>
                                                <ul>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="shop-grid-left-sidebar.html">MAIN DEMO</a>
                                                <ul>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="shop-grid-left-sidebar.html">MAIN DEMO</a>
                                                <ul>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="shop-grid-left-sidebar.html">MAIN DEMO</a>
                                                <ul>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                </ul>
                                            </li>
                                        </ul><!-- Mega Category Menu End -->
                                    </li>
                                    <li class="menu-item-has-children"><a href="shop-grid-left-sidebar.html"><i
                                                class="fa fa-plus-square"></i> Antibiotics</a>
                                        <!-- Mega Category Menu Start -->
                                        <ul class="category-mega-menu">
                                            <li class="menu-item-has-children">
                                                <a href="shop-grid-left-sidebar.html">MAIN DEMO</a>
                                                <ul>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="shop-grid-left-sidebar.html">MAIN DEMO</a>
                                                <ul>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="shop-grid-left-sidebar.html">MAIN DEMO</a>
                                                <ul>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="shop-grid-left-sidebar.html">MAIN DEMO</a>
                                                <ul>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                </ul>
                                            </li>
                                        </ul><!-- Mega Category Menu End -->
                                    </li>
                                    <li><a href="shop-grid-left-sidebar.html"><i class="fa fa-bed"></i>
                                            Cough, Cold & Asthma</a></li>
                                    <li><a href="shop-grid-left-sidebar.html"><i class="fa fa-hospital-o"></i>
                                            Medheights Health Care</a></li>
                                    <li><a href="shop-grid-left-sidebar.html"><i class="fa fa-medkit"></i>
                                            Children's Health</a></li>
                                    <li><a href="shop-grid-left-sidebar.html"><i class="fa fa-book"></i>
                                            Books</a></li>
                                    <li><a href="shop-grid-left-sidebar.html"><i class="fa fa-microchip"></i>
                                            Devices</a></li>
                                    <li class="menu-item-has-children"><a href="shop-grid-left-sidebar.html"><i
                                                class="fa-heartbeat"></i>More</a>
                                        <!-- Mega Category Menu Start -->
                                        <ul class="category-mega-menu">
                                            <li class="menu-item-has-children">
                                                <a href="shop-grid-left-sidebar.html">MAIN DEMO</a>
                                                <ul>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="shop-grid-left-sidebar.html">MAIN DEMO</a>
                                                <ul>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="shop-grid-left-sidebar.html">MAIN DEMO</a>
                                                <ul>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="shop-grid-left-sidebar.html">MAIN DEMO</a>
                                                <ul>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                    <li><a href="shop-grid-left-sidebar.html">demo</a></li>
                                                </ul>
                                            </li>
                                        </ul><!-- Mega Category Menu End -->
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li class="active"><a href="#"><i class="fa fa-home"></i>Home</a>

                                    </li>
                                    <li class="static"><a href="#">pages <i class="fa fa-angle-down"></i></a>
                                        <ul class="megamenu dropdown">
                                            <li class="mega-title"><a href="#">column 01</a>
                                                <ul>
                                                    <li><a href="shop-grid-left-sidebar.html">shop grid left
                                                            sidebar</a></li>
                                                    <li><a href="shop-grid-right-sidebar.html">shop grid right
                                                            sidebar</a></li>

                                                    <li><a href="shop-grid-full-4-col.html">shop grid full 4
                                                            column</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-title"><a href="#">column 02</a>
                                                <ul>
                                                    <li><a href="product-details.html">product details</a></li>

                                                </ul>
                                            </li>
                                            <li class="mega-title"><a href="#">column 03</a>
                                                <ul>
                                                    <li><a href="cart.html">cart</a></li>
                                                    <li><a href="checkout.html">checkout</a></li>
                                                    <li><a href="compare.html">compare</a></li>
                                                    <li><a href="wishlist.html">wishlist</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-title"><a href="#">column 04</a>
                                                <ul>
                                                    <li><a href="my-account.html">my-account</a></li>
                                                    <li><a href="login-register.html">login-register</a></li>
                                                    <li><a href="about-us.html">about us</a></li>
                                                    <li><a href="contact-us.html">contact us</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">shop <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown">
                                            <li><a href="#">shop grid layout <i
                                                        class="fa fa-angle-right"></i></a>
                                                <ul class="dropdown">
                                                    <li><a href="shop-grid-left-sidebar.html">shop grid left
                                                            sidebar</a></li>

                                                    <li><a href="shop-grid-right-sidebar.html">shop grid right
                                                            sidebar</a></li>


                                                    <li><a href="shop-grid-full-4-col.html">shop grid full 4
                                                            column</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">shop list layout <i
                                                        class="fa fa-angle-right"></i></a>
                                                <ul class="dropdown">
                                                    <li><a href="shop-list-left-sidebar.html">shop list left
                                                            sidebar</a></li>

                                                </ul>
                                            </li>

                                        </ul>
                                    </li>
                                    <li><a href="#">Blog</a>

                                    </li>
                                    <li><a href="contact-us.html">Contact us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-block d-lg-none">
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- main menu area end -->

</header>
<!-- header area end -->
