<!-- header area start -->
<header>

  <!-- header middle start -->
  <div class="header-middle-area pt-20 pb-20">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3">
          <div class="brand-logo">
            <a href="index.html">
              <img src="assets/img/logo/logo.png" alt="brand logo">
            </a>
          </div>
        </div> <!-- end logo area -->
        <div class="col-lg-9">
          <div class="header-middle-right">
            <div class="header-middle-shipping mb-20">
              <div class="single-block-shipping">
                <div class="shipping-icon">
                  <i class="fa fa-clock-o"></i>
                </div>
                <div class="shipping-content">
                  <h5>Working time</h5>
                  <span>Mon- Sun: 7am - 12:00pm</span>
                </div>
              </div> <!-- end single shipping -->
              <div class="single-block-shipping">
                <div class="shipping-icon">
                  <i class="fa fa-truck"></i>
                </div>
                <div class="shipping-content">
                  <h5>free shipping</h5>
                  <span>On order over ₦199</span>
                </div>
              </div> <!-- end single shipping -->
              <div class="single-block-shipping">
                <div class="shipping-icon">
                  <i class="fa fa-money"></i>
                </div>
                <div class="shipping-content">
                  <h5>money back 100%</h5>
                  <span>Within 30 Days after delivery</span>
                </div>
              </div> <!-- end single shipping -->
            </div>
            <div class="header-middle-block">
              <div class="header-middle-searchbox">
                <input type="text" placeholder="Search...">
                <button class="search-btn"><i class="fa fa-search"></i></button>
              </div>
              <div class="header-mini-cart" (click)="fetchLocalStorageCart()" >
                <div class="mini-cart-btn">
                  <i class="fa fa-shopping-cart"></i>
                  <span class="cart-notification">{{totalQty}}</span>
                </div>
                <div class="cart-total-price">
                  <span>total</span>
                  ₦{{totalCost}}
                </div>
                <ul class="cart-list">
                  <li *ngFor="let item of cartProducts" >
                    <div class="cart-img">
                     <img src="{{imageStorageUrl}}/static/{{item.product_image}}" alt="">
                    </div>
                    <div class="cart-info">
                      <h4><a href="product-details.html">{{item?.productName}}</a></h4>
                      <span style="display: inline;">₦{{item?.cost}}</span>
                      <span style="display: inline;">      Qty: {{item?.quantity}}</span>
                    </div>
                    <div class="del-icon">
                      <i class="fa fa-times" (click)="removeFromCart(item)" ></i>
                    </div>
                  </li>
                  <li class="mini-cart-price">
                    <span class="subtotal">subtotal : </span>
                    <span class="subtotal-price">₦{{totalCost}}</span>
                  </li>
                  <li class="checkout-btn">
                    <a routerLink ='/checkout' [hidden]='!userIsLoggedIn'>checkout</a>
                    <a routerLink ='/login' [hidden]='userIsLoggedIn'>Login to checkout</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- header middle end -->

  <!-- main menu area start -->
  <div class="main-header-wrapper bdr-bottom1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-header-inner">
            <div class="category-toggle-wrap">
              <div class="category-toggle">
                category
                <div class="cat-icon">
                  <i class="fa fa-angle-down"></i>
                </div>
              </div>
              <nav class="category-menu hm-1" style="display: none;">
                <ul>
                  <li *ngFor="let category of allCategories"><a href="shop-grid-left-sidebar.html">
                      {{category.category_name}}</a></li>
                </ul>
              </nav>
            </div>
            <div class="main-menu">
              <nav id="mobile-menu">
                <ul>
                  <li class="active"><a href="#"><i class="fa fa-home"></i>Home</a>

                  </li>
                  <li><a href="contact-us.html">Contact us</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-12 d-block d-lg-none">
          <div class="mobile-menu"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- main menu area end -->

</header>
<!-- header area end -->
