   <!-- breadcrumb area start -->
   <div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink='/home'>Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">checkout</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->

<!-- checkout main wrapper start -->
<div class="checkout-page-wrapper">
    <div class="container">
        <div class="row">
            <!-- Checkout Billing Details -->
            <div class="col-lg-6">
                <div class="checkout-billing-details-wrap">
                    <h2>Billing Details</h2>
                    <div class="billing-form-wrap">
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single-input-item">
                                        <label for="f_name" class="required">First Name</label>
                                        <input type="text" id="f_name" placeholder="First Name" value='{{customer?.firstname}}' required disabled>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="single-input-item">
                                        <label for="l_name" class="required">Last Name</label>
                                        <input type="text" id="l_name" placeholder="Last Name" value='{{customer?.lastname}}' required disabled/>
                                    </div>
                                </div>
                            </div>

                            <div class="single-input-item">
                                <label for="email" class="required">Email Address</label>
                                <input type="email" id="email" placeholder="Email Address" value='{{customer?.email}}' required disabled/>
                            </div>

                            <div class="single-input-item">
                                <label for="com-name">Company Name</label>
                                <input type="text" id="com-name" placeholder="Company Name" disabled/>
                            </div>

                            <div class="single-input-item">
                              <p>Choose a delivery address</p>
                                <label for="addresses" class="required">Addresses</label>
                                <select name="addresses nice-select" id="addresses" (change)="displayAddress($event)">
                                    <option value="{{address.address_id}}" *ngFor='let address of addresses'>{{address.full_address}}</option>
                                </select>
                                <span *ngIf="!hasAddress" >
                                  No address available, go to your <a routerLink='/account/address'>your profile</a> to add a delivery address
                                </span>
                            </div>

                            <div class="single-input-item">

                                <label for="Daddress" class="required pt-20">Delivery address</label><br>
                                <span *ngIf="!selectedAdd" >No address selected</span>
                                <input type="text" id="Daddress" value='{{selectedAdd}}' placeholder="Delivery address " required disabled/>
                            </div>

                            <div class="single-input-item">
                                <label for="phone">Phone</label>
                                <input type="text" id="phone"  placeholder="Phone" value={{customer?.phone_number}} disabled/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Order Summary Details -->
            <div class="col-lg-6">
                <div class="order-summary-details mt-md-26 mt-sm-26">
                    <h2>Your Order Summary</h2>
                    <div class="order-summary-content mb-sm-4">
                        <!-- Order Summary Table -->
                        <div class="order-summary-table table-responsive text-center">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Products</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of cartProducts" >
                                        <td><a href="single-product.html">{{product.productName}} <strong> × {{product.quantity}} </strong></a></td>
                                        <td>₦ {{product.totalCost}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>Sub Total</td>
                                        <td><strong>₦{{totalCost}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Shipping</td>
                                        <td class="d-flex justify-content-center">
                                            <ul class="shipping-type">
                                                <li>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" id="flatrate" name="shipping" class="custom-control-input" checked />
                                                        <label class="custom-control-label" for="flatrate">Flat Rate: ₦70.00</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" id="freeshipping" name="shipping" class="custom-control-input" />
                                                        <label class="custom-control-label" for="freeshipping">Free Shipping</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Total Amount</td>
                                        <td><strong>₦470</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- Order Payment Method -->
                        <div class="order-payment-method">
                          <div class="form-check" *ngFor="let type of paymentTypeList" >
                            <label class="form-check-label" (click)="getPaymentType($event)" >
                              <input type="radio" class="form-check-input" name="optradio"
                              value="{{type.paymenttype_id}}">{{type.payment_type}}
                            </label>
                          </div>
                            <!-- <div class="single-payment-method show">
                                <div class="payment-method-name">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="cashon" name="paymentmethod" value="cash" class="custom-control-input" checked  />
                                        <label class="custom-control-label" for="cashon">Cash On Delivery</label>
                                    </div>
                                </div>
                            </div>

                           <div class="single-payment-method">
                                <div class="payment-method-name">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="directbank" name="paymentmethod" value="bank" class="custom-control-input" />
                                        <label class="custom-control-label" for="directbank">Direct Bank Transfer</label>
                                    </div>
                                </div>
                                <div class="payment-method-details" data-method="bank">
                                    <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account..</p>
                                </div>
                            </div> -->
                            <div class="summary-footer-area">
                                <div class="custom-control custom-checkbox mb-14">
                                    <input type="checkbox" class="custom-control-input" id="terms" required />
                                    <label class="custom-control-label" for="terms">I have read and agree to the website <a
                                        href="index.html">terms and conditions.</a></label>
                                </div>
                                <button type="submit" class="check-btn sqr-btn" [disabled]="!orders.address_id || !orders.paymenttype_id"
                                title="address and payment type must be selected" id="makeOrder">
                                  Place Order
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- checkout main wrapper end -->
