        <!-- breadcrumb area start -->
        <div class="breadcrumb-area">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="breadcrumb-wrap">
                          <nav aria-label="breadcrumb">
                              <ul class="breadcrumb">
                                  <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">login-register</li>
                              </ul>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- breadcrumb area end -->

      <!-- login register wrapper start -->
      <div class="login-register-wrapper">
          <div class="container">
              <div class="member-area-from-wrap">
                  <div class="row">
                      <!-- Login Content Start -->
                      <div class="col-lg-6">
                          <div class="login-reg-form-wrap  pr-lg-50">
                              <h2>Sign In</h2>
                              <form action="#" method="post" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                                  <span>{{loginError}}</span>
                                  <div class="single-input-item">
                                      <input type="email" placeholder="Email or Username" required ngModel name="email" #email/>
                                  </div>
                                  <div class="single-input-item">
                                      <input type="password" placeholder="Enter your Password" required ngModel name="password" #password/>
                                  </div>
                                  <div class="single-input-item">
                                      <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                                          <div class="remember-meta">
                                              <div class="custom-control custom-checkbox">
                                                  <input type="checkbox" class="custom-control-input" id="rememberMe">
                                                  <label class="custom-control-label" for="rememberMe">Remember Me</label>
                                              </div>
                                          </div>
                                          <a href="#" class="forget-pwd">Forget Password?</a>
                                      </div>
                                  </div>
                                  <div class="single-input-item">
                                      <button class="sqr-btn" [disabled]="loginForm.invalid">Login</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                      <!-- Login Content End -->

                      <!-- Register Content Start -->
                      <div class="col-lg-6">
                          <div class="login-reg-form-wrap mt-md-34 mt-sm-34">
                              <h2>Signup Form</h2>
                              <ul>
                                <li *ngFor='let error of RegistrationError' class="text-danger">{{error}}</li>
                              </ul>
                              <form  method="post" #form="ngForm" (ngSubmit)="register(form)">
                                  <div class="single-input-item">
                                      <input type="text" placeholder="First Name" required #firstname name="firstName" [(ngModel)]="customer.firstName"/>
                                  </div>
                                  <div class="single-input-item">
                                      <input type="text" placeholder="Last Name" #lastname required name="lastName" [(ngModel)]="customer.lastName"/>
                                  </div>
                                  <div class="single-input-item">
                                      <input type="email" placeholder="Enter your Email" required name="email" [(ngModel)]="customer.email"/>
                                  </div>
                                  <div class="single-input-item">
                                      <input type="tel" #tel placeholder="Phone Number - 080.."
                                      required name="phoneNumber" [(ngModel)]="customer.phoneNumber" maxlength="11"/>
                                  </div>
                                  <div class="row">
                                      <div class="col-lg-6">
                                          <div class="single-input-item">
                                              <input type="password" #pwd placeholder="Enter your Password - at least 8 characters" required name="password"  [(ngModel)]="customer.password" minlength='8'/>
                                          </div>
                                      </div>
                                      <div class="col-lg-6">
                                          <div class="single-input-item">
                                              <input type="password" #pwd1 placeholder="Repeat your Password" required name="password2" [ngModel] minlength='8'/>
                                          </div>
                                      </div>
                                  </div>
                                  <span class="text-danger" *ngIf="pwd.value !== pwd1.value ">Password does not match</span>
                                  <span class="text-danger" *ngIf="pwd.invalid">Password must be between 8 and 15</span>
                                  <div class="single-input-item">
                                      <button class="sqr-btn" [disabled]="form.invalid || pwd.value !== pwd1.value" type="submit">Register</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                      <!-- Register Content End -->
                  </div>
              </div>
          </div>
      </div>
      <!-- login register wrapper end -->
