<div class="myaccount-content">
  <h3>Billing Addresses
    <a (click)="addAddress()"  class="check-btn sqr-btn " style="color: white;">
      <i class="fa fa-plus" aria-hidden="true" [hidden]="!notAddMode" ></i>
      <i class="fa fa-list" aria-hidden="true" [hidden]="notAddMode" (click)="fetchCustomerAddress()" ></i>
    </a>
  </h3>
  <div>
    <app-address-edit *ngFor="let addr of allAddresses" [address]="addr" [hidden]="!notAddMode" ></app-address-edit>

    <address>

      <form action="" #addrForm="ngForm" [hidden]="notAddMode">
       <textarea name="newAddr" cols="25" rows="6" [(ngModel)]="newAddr">

        </textarea><br>
        <button class="check-btn sqr-btn " (click)="addNewAddress()" >
          <i class="fa fa-spinner fa-spin" [hidden] ="!isLoading"></i>
          Add New Address
        </button>
      </form>
     </address>

  </div>
</div>
