
<form action="#" method="post" #form="ngForm" (ngSubmit)="updateOrAddCat(form)" novalidate class="m-auto w-50 pt-40">
  <h3 class="text-muted">{{updateOrAdd}} a Category Name</h3>
  <div class="form-group">
    <label for="email">Category Name:</label>
    <input type="text" class="form-control" id="categoryName" name="categoryName"
      required #categoryName [(ngModel)]="Category.categoryName" required minlength="3">
  </div>
  <span>{{updateErr}}</span>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">{{updateOrAdd}}</button>
</form>


