
        <!-- breadcrumb area start -->
        <div class="breadcrumb-area">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="breadcrumb-wrap">
                          <nav aria-label="breadcrumb">
                              <ul class="breadcrumb">
                                  <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">cart</li>
                              </ul>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- breadcrumb area end -->

      <!-- cart main wrapper start -->
      <div class="cart-main-wrapper">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <!-- Cart Table Area -->
                      <div class="cart-table table-responsive">
                          <table class="table table-bordered">
                              <thead>
                                  <tr>
                                      <th class="pro-thumbnail">Thumbnail</th>
                                      <th class="pro-title">Product</th>
                                      <th class="pro-price">Price</th>
                                      <th class="pro-quantity">Quantity</th>
                                      <th class="pro-subtotal">Total</th>
                                      <th class="pro-remove">Remove</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let item of cartDetails" >
                                      <td class="pro-thumbnail"><a href="#"><img class="img-fluid"
                                                  src="{{imageStorageUrl}}/static/{{item.product_image}}" alt="Product" /></a></td>
                                      <td class="pro-title"><a href="#">{{item.productName}}</a></td>
                                      <td class="pro-price"><span>₦{{item.cost}}</span></td>
                                      <td class="pro-quantity">
                                          <div class="pro-qty"><input type="text" value="{{item.quantity}}" disabled></div>
                                      </td>
                                      <td class="pro-subtotal"><span>₦{{item.totalcost}}</span></td>
                                      <td class="pro-remove"><i class="fa fa-trash-o" (click)="removeProduct(item)" style="cursor: pointer;"></i></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>

                      <!-- Cart Update Option
                      <div class="cart-update-option d-block d-md-flex justify-content-between">
                          <div class="cart-update mt-sm-16">
                              <a href="#" class="sqr-btn">Update Cart</a>
                          </div>
                      </div> -->
                  </div>
              </div>

              <div class="row">
                  <div class="col-lg-5 ml-auto">
                      <!-- Cart Calculation Area -->
                      <div class="cart-calculator-wrapper">
                          <div class="cart-calculate-items">
                              <h3>Cart Totals</h3>
                              <div class="table-responsive">
                                  <table class="table">
                                      <tr>
                                          <td>Sub Total</td>
                                          <td>₦{{totalCost}}</td>
                                      </tr>
                                      <tr>
                                          <td>Shipping</td>
                                          <td>₦0</td>
                                      </tr>
                                      <tr class="total">
                                          <td>Total</td>
                                          <td class="total-amount">₦{{totalCost}}</td>
                                      </tr>
                                  </table>
                              </div>
                          </div>
                         <span (click)="checkout()" [hidden]="hideCheckoutButton">
                            <a class="sqr-btn d-block mb-3" style="color: white;">checkout</a>
                         </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- cart main wrapper end -->
