<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
<div class="wrapper">
  <app-headertop [hidden]='authservice.isLoggedIn'></app-headertop>
  <app-header [hidden]='authservice.isLoggedIn'></app-header>
  <router-outlet></router-outlet>
  <app-footer [hidden]='authservice.isLoggedIn'></app-footer>


  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <!-- product details inner end -->
          <div class="product-details-inner">
            <div class="row">
              <div class="col-lg-5">
                <div class="product-large-slider slick-arrow-style_2 mb-20">
                  <div class="pro-large-img">
                    <img src="{{imageStorageUrl}}/static/{{poppedProduct.product_image}}" alt="" />
                  </div>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="product-details-des mt-md-34 mt-sm-34">
                  <h3><a href="product-details.html">{{poppedProduct.product_name}}</a></h3>
                  <div class="ratings">
                    <span class="good"><i class="fa fa-star"></i></span>
                    <span class="good"><i class="fa fa-star"></i></span>
                    <span class="good"><i class="fa fa-star"></i></span>
                    <span class="good"><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <div class="pro-review">
                      <span>1 review(s)</span>
                    </div>
                  </div>
                  <div class="availability mt-10">
                    <h5>Availability:</h5>
                    <span>{{poppedProduct.stock_quantity}} in stock</span>
                  </div>
                  <div class="pricebox">
                    <span class="regular-price">₦{{poppedProduct.price}}</span>
                  </div>
                  <p>{{poppedProduct.description}}</p>
                  <div class="quantity-cart-box d-flex align-items-center mt-20">
                    <div class="quantity">
                      <div class="pro-qty"><input type="text" value="1"></div>
                    </div>
                    <div class="action_link">
                      <a class="buy-btn" href="#">add to cart<i class="fa fa-shopping-cart"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- product details inner end -->
        </div>
      </div>
    </div>
  </div>
  <!-- Scroll to Top End -->

</div>
