<!-- login register wrapper start -->
<div class="login-register-wrapper my-5">
  <div class="container">
    <div class="member-area-from-wrap">
      <div class="row">
        <!-- Login Content Start -->
        <div class="col-lg-6 offset-2">
          <div class="login-reg-form-wrap  pr-lg-50">
            <h2>Admin Log In</h2>
            <form action="#" method="post" #form="ngForm" (ngSubmit)="loginUser(form)" novalidate>
                <span class="text-danger">{{loginError | titlecase}}</span>
              <div class="single-input-item">
                <input type="email" #email = "ngModel" placeholder="Email" name="email" required
                  [(ngModel)]="userDetails.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"/>
              </div>
              <span *ngIf="email.dirty && email.invalid" class="text-danger">Username invalid</span>

              <div class="single-input-item">
                <input #password="ngModel" type="password" placeholder="Enter your Password" name="password" minlength="8" required
                  [(ngModel)]="userDetails.password" />
              </div>
              <span *ngIf="password.dirty && password.invalid" class="text-danger">Password invalid</span>

              <div class="single-input-item">
                <button class="sqr-btn" [disabled]="form.invalid" >Login</button>
              </div>
            </form>
          </div>
        </div>
        <!-- Login Content End -->

      </div>
    </div>
  </div>
</div>

<!-- <H4>{{email.valid}}</H4> -->
<!-- login register wrapper end -->
<!-- Model : {{userDetails | json}} -->
<br>
<!-- Email : {{form.controls.email.valid | json}} -->

<br>
<!-- Form : {{form.valid | json}} -->
